<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Kirby's Contacts</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="/">
                            <span class="glyphicon glyphicon-chevron-left"></span>All Contacts
                        </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Kirby's Contacts Page!</h3>
        </div>
 
        <div class="jumbotron">
            <p>
                Hello there! I'm sorry that I wasn't able to implement the favorite or edit functionality; It was a pretty busy weekend. I hope you're enjoying the rest of the app!</p><br/>
            <p>
                On the plus side, this means that I'm only pulling data from the supplied endpoint - no Database needed.
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Interview Code 2015</p>
        </footer>
 
    </div>
</body>
 
</html>